<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="apptestssh.apptestssh" android:versionCode="5" android:versionName="beta 2">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="27" />
	<application android:label="Monitor my server"></application>
</manifest>